.is-done div {
  color: gray;
  text-decoration: line-through;
}
#toDoList li {
  margin-bottom: 10px;
  gap: 1rem;
}

.task {
  display: flex;
}

.list {
  background-color: aquamarine;
}
.hide {
  display: none;
}
.list h2,
.filter {
  display: flex;
}
