<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form id="codeForm"></form>

    <button id="balanceButton" type="button">Show balance</button>
    <button id="actionButton" type="button">Deposit / Withdrawal</button>

    <form id="actionForm" class="hide">
      <input
        type="text"
        id="actionInput"
        placeholder="What is the amount you would like to deposit or withdrawal ?"
        required
      />
      <button id="depositBtn" type="button">Deposit</button>
      <button id="WithdrawalBtn" type="button">Withdrawal</button>
    </form>

    <p id="depositMessage" class="hide"></p>
    <p id="balance" class="hide"></p>
    <button id="depositAgainButton" type="submit" class="hide">
      Deposit again
    </button>
    <nav id="nav-menu">
      <ul>
        <li><a href="welcome.page.html"> Exit</a></li>
      </ul>
    </nav>

    <script src="main.js"></script>
  </body>
</html>
