<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>ATM Project</h1>

    <form id="codeForm">
      <input
        type="text"
        id="pinCode"
        placeholder="Enter your PIN code"
        required
      />

      <button type="submit">submit</button>
    </form>

    <p id="codeMessage"></p>

    <nav id="nav-menu">
      <ul>
        <li><a href="welcome.page.html"> Welcome page</a></li>
        <li><a href="menu.page.html"> Menu </a></li>
      </ul>
    </nav>
    <script src="main.js"></script>
  </body>
</html>
