:root {
  --background-gray: #262524;
  --nav-bar-gray: #1d1d1c;
  --search-gray: #3e3e3d;
  --light-gray: #dedede;
  --light-pink: #ff708d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

body {
  background-color: var(--background-gray);
}

.movie-detail-container,
.movie-page-similar-movie,
.movie-page-movie-cast,
.movies-container {
  display: flex;
  color: white;
}

.container-title {
  display: flex;
  color: white;
  font-size: 25px;
  margin: 10px;
}

/* ////////////////////////////////// movie-card */
.movie-card {
  border-radius: 5px;
  margin: 10px;
  color: white;
}
.card-movie-details {
  height: 50px;
  font-size: 12px;
  color: var(--light-gray);
}
.movie-img {
  width: 10em;
  transition: all 0.2s ease-in-out;
}
.movie-img:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.container-title-div {
  display: flex;
  align-items: center;
}

#popular-arrow-icon {
  width: 25px;
  height: 25px;
}

/* ////////////////////////////////// Search Styles */
.search-container {
  margin-right: 1rem;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background-color: var(--search-gray);
  border: 1px solid var(--search-gray);
  outline: none;
  font-size: 14px;
  color: white;
}

/* Search Results */
.search-results {
  position: absolute;
  display: none;
  top: 45px;
  width: 25vw;
  background-color: var(--nav-bar-gray);
  border-radius: 8px;
  list-style: none;
  padding: 1rem;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.search-results li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid black;
}

.search-results li:hover {
  background-color: #343434;
  cursor: pointer;
}

.search-results img {
  width: 40px;
  height: 60px;
  border-radius: 4px;
  margin-right: 10px;
  object-fit: cover;
}

.search-results p {
  margin: 0;
  font-size: 16px;
}

/* ////////////////////////// Single movie page  */
.movie-page-container {
  display: flex;
}

.movie-detail-img {
  width: 20em;
}
.movie-page-detail {
  padding: 10px;
  color: white;
}
.movie-page-detail p {
  margin-block: 10px;
  line-height: 1.4;
}
#cast-title,
#similar-title {
  margin-top: 10px;
  color: var(--light-pink);
}
/* actor-card */
.actor-img {
  width: 6em;
}
.actor-card {
  border-radius: 5px;
  margin: 10px;
  color: white;
}
.actor-details {
  font-size: 10px;
}
/* back-icon */
.back-icon {
  background-image: url("/image/back-icon-white.png");
  background-size: cover;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-image 0.3s ease;
}
.back-icon:hover {
  background-image: url("/image/back-icon.png");
}
/* Heart Icon  */
.heart-icon {
  width: 34px;
  height: 30px;
  background-image: url("./image/empty-heart-icon-W.png");
  background-size: cover;
  cursor: pointer;
  transition: background-image 0.3s ease;
}
.heart-icon:hover {
  background-image: url("./image/pink-heart-icon.png");
}
.heart-icon.full {
  background-image: url("./image/full-heart-pink.png");
}

/* ////////////////////////////////// Sidebar Styling */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background-color: var(--nav-bar-gray);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.menu-list {
  margin-top: 15px;
  list-style: none;
}

.sidebar-li {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.sidebar-icon {
  display: flex;
  width: 15px;
  height: 15px;
}

.menu-button {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.sidebar-li:hover {
  background-color: var(--search-gray);
  color: var(--light-pink);
}

.search-container {
  margin-top: auto;
}

.search-bar {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

/* Main Content Styling */
.main-container {
  margin-left: 230px;
  padding: 20px;
}

.container-title {
  margin-bottom: 10px;
}

.about-main {
  color: white;
}

/* ////////////////////////////////// About Page */
.about-main ul,
.about-main p {
  margin-block: 15px;
}
.about-main h1,
.about-main h2 {
  color: var(--light-pink);
}
.about-icon {
  display: flex;
  align-items: center;
}
#github-icon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
}
#linkedin-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
