@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "WorkSans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "WorkSans";
}

:root {
  --color-White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  padding: 20px;
}

.title {
  display: flex;
}

.answer {
  color: var(--Grayish-purple);
  padding-right: 17px;
  margin-bottom: 20px;
}
.qBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.qText {
  font-weight: bold;
}

.qIcon {
  color: var(--color-White);
}

h1,
.q {
  color: var(--Dark-purple);
}

#starIcon {
  width: 25px;
  margin-right: 20px;
}
hr {
  height: 2px;
  border-width: 0;
  background-color: var(--Light-pink);
  margin-top: 10px;
}
.hide {
  display: none;
}
